<div class="col-md-4">
  <div class="card">
    <div class="card-header">
      <h5 class="font-weight-bold pt-2 pb-3">Agenda <%= villageName %></h5>
    </div>
    <div class="card-body">
      <% listAgenda.forEach((agenda) => { %>
        <a href="#">
          <h6 class="card-title font-weight-bolder"><%= agenda.title %></h6>
          <p class="text-secondary mb-4"><%= agenda.date %> <%= agenda.location %> (Jam <%= agenda.time %>)</p>
        </a>
      <% }); %>
      <!-- <button class="btn btn-primary btn-sm btn-custom mt-4">Selengkapnya</button> -->
    </div>
  </div>
</div>