<div class="similar-box">
  <h2>Produk lainya dari <%= UMKMName %></h2>
  <div class="row cat-pd">
     <% recomendedProducts.forEach((product) => { %>
      <div class="col-md-6">
         <div class="small-box-c">
            <div class="small-img-b">
               <img class="img-responsive" src="<%= product.imageLink %>" alt="<%= product.imageAlt %>" />
            </div>
            <div class="dit-t clearfix">
               <div class="left-ti">
                  <h4><%= product.name %></h4>
                  <p>Dari <span><%= UMKMName %></span> Kategori <span><%= product.category %></span></p>
               </div>
               <a href="#" tabindex="0"><%= product.currency %><%= product.price %></a>
            </div>
            <div class="prod-btn">
               <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Detail Produk</a>
               <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Sukai Produk</a>
               <p><%= product.totalLikes %></p>
            </div>
         </div>
      </div>
     <% }); %>
  </div>
</div>