<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/desktop-navbar'); %>
  <%- include('../partials/mobile-navbar'); %>
  <%- include('../partials/slider'); %>
  <%- include('../partials/news'); %>
  <%- include('../partials/youtube-embedding'); %>
  <%- include('../partials/main-update'); %>
  <%- include('../partials/form-konsultasi'); %>
  <%- include('../partials/footer'); %>

  <script src="/js/bundle.min.js"></script>
</body>

</html>