<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/desktop-navbar'); %>
  <%- include('../partials/mobile-navbar'); %>
  <%- include('../partials/collapsed-side-nav'); %>
  <%- include('../partials/info-geografis'); %>
  <%- include('../partials/form-konsultasi'); %>
  <%- include('../partials/footer'); %>

  <!-- inject:js -->
  <script src="/js/bundle.min.js"></script>
  <!-- endinject -->
</body>

</html>