<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/umkm/index/head'); %>
   <body>
      <%- include('../partials/umkm/index/sidebar'); %>
      <%- include('../partials/umkm/index/main-title'); %>
      <%- include('../partials/umkm/index/motto'); %>
      <%- include('../partials/umkm/index/list-umkm'); %>
      <%- include('../partials/umkm/index/trending-products'); %>
      <%- include('../partials/umkm/footer'); %>
      <!--main js--> 
      <script src="/js/jquery-1.12.4.min.js"></script> 
      <!--bootstrap js--> 
      <script src="/js/bootstrap.min.js"></script> 
      <script src="/js/bootstrap-select.min.js"></script>
      <script src="/js/slick.min.js"></script> 
      <script src="/js/wow.min.js"></script>
      <!--custom js--> 
      <script src="/js/custom.js"></script>
   </body>
</html>